.App {
  text-align: center;
}

.menu {
  margin-top: 0;
  position: fixed;
  display: block;
  margin-right: 100%;
  color: #A9E4D7;
  height: 2250px;
  width: 150px;
}

.hamburger{
  color: #63B4B8;
  background-color: #664e8800;
  border: none;
  display: block;
  cursor: pointer;
  padding: 10px 10px;
}

.hambnav{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  line-height: 150px;
}

.fa-solid {
  font-size: 25px;
}

.title1{
  margin-top: 0px;
}
 
.Home{
  text-align: center; 
  background-image: url("./Images/559128.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.front {
  margin-top: 0px;
  padding-top: 250px;
  padding-bottom: 520px;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.box {
  font-family: 'Roboto', sans-serif;
  background: #664E88;
  color: white;
  padding: 15px 40px 15px 40px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  text-decoration: none;
}

.Profile{
  width: 100%;
}

.imagecontainer{
  width: 50px;
}

.Image{
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 100%;
  width: 250px;
}

.Description{
  float: left;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 0px;
  border-left: 3px solid #664E88;
  padding-left: 5px;
  color: #664E88;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.Dots{
  float: right;
  margin-top: 15px;
  width: 100px;
  padding-left: 0px;
}

.About{
  text-align: justify;
  padding: 140px 15px 30px 15px;
}

.Skill {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 30px;
  background-color: #664E88;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 100px;
  height: auto;
  width: 100%;
}

.Title{
  margin-left: auto;
  padding-left: 10px;
  color: #A9E4D7;
  line-height: 15px;
  border-left: 3px solid #A9E4D7;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.Dots2{
  float: right;
  margin-left: 70px;
  font-size: 30px;
  width: 80px;
}

.List {
  float: right;
  font-size: 14px;
  margin-right: 10%;
  margin-top: 30px;
  width: 100%;
  color: white;
  display: grid;
}

.Education {
  float: left;
  width: auto;
  height: auto;
  text-align: justify;
  margin-top: 10px;
  margin-left: 30px;
  line-height: 10px;
}

.Education p{
  text-indent: 85px;
  margin-top: 0px;
}

.icon-edu{
  display: flex;
  justify-content: space-between;
  width: 228px;
}

.icon1{
  width: 65px;
}

.Languaje{
  text-align: justify;
  width: auto;
  height: auto;
  margin-left: 30px;
  margin-top:20px;
  width: 250px;
  line-height: 10px;
}

.Languaje p{
  text-indent: 85px;
  margin-top: 0px;
}

.icon-leng{
  display: flex;
  justify-content: space-between;
  width: 145px;
}

.icon2{
  width: 65px;
}

.Technologies{
  text-align: justify;
  width: 1px;
  margin-left: 30px;
  height: auto;
  margin-top: 50px;
  line-height: 10px;
}

.Technologies p{
  text-indent: 85px;
  margin-top: 0px;
}

.icon-tec{
  display: flex;
  justify-content: space-between;
  width: 172px;
}

.icon3{
  width: 65px;
}

.bar{
  padding: 3px;
  margin-bottom: 10px;
  margin-left: 80px;
  width: 150px;
  height: 10px;
  background: #A9E4D7;
  border-radius: 10px;
}

.progress {
  height: 10px;
  background: #63B4B8;
  border-radius: 10px;
}

@keyframes Aumentar {
  0%{width:0%;}
  100%{width:var(width)}
}

.projectcontainer{
  width: 100%;

}

.my-projects{
  float: left;
  margin-left: 30px;
  margin-top: 25px;
  padding-left: 10px;
  color: #664E88;
  line-height: 15px;
  border-left: 3px solid #664E88;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.Proyect1{
  padding-top: 50px;
  padding-bottom: 6px;
  width: 230px;
}

.proyect-description{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
}

.proyect-description h3{
  color: #63B4B8;
}

.proyect-button{
  padding-bottom: 50px;
}

.button1{
  font-family: 'Roboto', sans-serif;
  background: #664E88;
  color: white;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  text-decoration: none;
}

.contact{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: #E1E5EA;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;
}

.info h3{
  text-align: center;
  color: #664E88;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background-color: white;
  height: auto;
}

.box2{
  font-family: 'Roboto', sans-serif;
  background: #664E88;
  color: white;
  padding: 10px 10px 10px 10px;
  width: 150px;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
}

.info p{
  margin-bottom: 0px;
}

.topic{
  margin-bottom: 5px;
}

.message{
  margin-bottom: 40px;
  margin-top: 50px;
  width: 90%;
}

input{
  border: none;
  border-bottom: 1px solid black;
  margin-right: 0px;
  margin-left: 0px;
  width: 90%;
  margin-bottom: 50px;
}

.form{
  width: 250px;
  margin-top: 40px;
}

.copycontainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.copy{
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #63B4B8;
  padding: 5px 0px 5px 0px;
}
.Navbar{
  display: none;
}

@media only screen and (min-width: 700px) {
  .App {
    text-align: center;
  }

  .Navbar{
    position: fixed;
    top: 0;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size:35px;
    width: 100%;
    height: 7vh;
  }

  .Navbar a{
    text-decoration: none;
    color: #A9E4D7;
    position: relative;
    cursor: pointer;
  }

  a:after{
    content: "";
    position: absolute;
    background-color: #A9E4D7;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }

  a:hover:after{
    width: 100%;
  }
  
  .fa-solid {
    font-size: 25px;
  }

  .title1{
    margin-top: 0px;
    padding-top: 350px;
    font-size: 35px;
  }
   
  .Home{
    text-align: center; 
    background-image: url("./Images/559128.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
  }
  
  h1{
    font-size: 70px;
    margin-bottom: 150px;
  }
  
  .front {
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    padding-bottom: 300px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  
  .box {
    font-family: 'Roboto', sans-serif;
    background: #664E88;
    color: white;
    font-size: 15px;
    padding: 15px 30px 15px 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    text-decoration: none;
    height: auto;
  }

  .linkedinbttn{
    height: auto;
  }

  .Profile{
    margin-top: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    height: 70vh;
  }

  .imagecontainer{
    width: 100%;
    height: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .Image{
    width: 600px;
    padding: 0px 0px 0px 100px;
    padding-bottom: 150px;
  }
  
  .Description{
    justify-content: flex-start;
    margin: 0px 150px 0px 750px;
    padding: 0px 0px 55px 10px;
    width: auto;
    font-size: 15px;
    height: 130px;
    border-left: 3px solid #664E88;
    color: #664E88;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }
  
  .About{
    padding: 50px 100px 0px 750px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: auto;
    height: 200px;
    text-align: justify;
  }

  .Description h1{
    font-size: 50px;
  }

  .Dots{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 0px;
    width: 100%;
    margin: 100px 100px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .Dot{
    width: 130px;
  }

  .Skill {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 300px;
    background-color: #664E88;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 400px;
    height: auto;
    width: 100%;
  }
  
  .Title{
    margin: 50px 0px 50px 150px;
    padding-left: 20px;
    font-size: 20px;
    color: #A9E4D7;
    line-height: 15px;
    border-left: 3px solid #A9E4D7;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    height: 110px;
  }

  .Title h1{
    font-size: 50px;
  }
  
  .dotcontainer{ 
    display: flex;
    justify-content: right;
    align-items: flex-start;
    margin-right: 50px;
    height: 70px;
    width: 100%;
   
  }

  .Dots2{
    padding-top: 120px;
    font-size: 30px;
    width: 130px;
  }
  
  .List{
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    color: white;
  }
  
  .Education {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    line-height: 10px;
    height: 0px;
    width: 350px;
  }

  .Education p{
    margin-top: 0px;
    text-indent: 100px;
  }

  .icon-edu{
    display: inline-flex;
    justify-content: space-between;
    line-height: 30px;
    width: 290px;
    margin-bottom: 0px;
  }

  .icon1{
    width: 70px;
  }
  
  .Languaje{
    padding: 0px 0px 0px 0px;
    margin: 250px 0px 0px -350px;
    line-height: 10px;
    height: 0px;
    width: 180px;
  }

  .icon-leng{
    display: inline-flex;
    justify-content: space-between;
    line-height: 30px;
    width: 180px;
    margin-bottom: 0px;
  }

  .Languaje p{
    margin-top: 0px;
    text-indent: 95px;
  }

  .icon2{
    width: 70px;
  }
  
  .Technologies{
    margin: 0px 0px 500px 300px;
    padding: 0px 0px 0px 0px;
    line-height: 20px;
    width: 50px;
    height: 0px;
  }

  .icon-tec{
    display: inline-flex;
    justify-content: space-between;
    line-height: 30px;
    width: 220px;
    margin-bottom: 0px;
  }

  .icon3{
    width: 70px;
  }

  .Technologies p{
    margin-top: 0px;
    text-indent: 95px;
  }
  
  .bar{
    padding: 3px;
    width: 150px;
    margin: 0px 0px 0px 90px;
    height: 10px;
    background: #A9E4D7;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  .progress {
    height: 10px;
    background: #63B4B8;
    border-radius: 10px;
  }
  
  @keyframes Aumentar {
    0%{width:0%;}
    100%{width:var(width)}
  }

  .projectcontainer{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 150px;
    height: auto;
    width: 100%;
  }
  
  .my-projects{
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 20px;
    color: #664E88;
    line-height: 15px;
    border-left: 3px solid #664E88;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    height: 110px;
    width: 100%;
  }

  .my-projects h1{
    font-size: 50px;
  }

  .proyect-image1{
    width: 450px;
    height: 0px;
    margin: 0px 200px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  
  .Proyect1{
    width: 450px;
  }
  
  .proyect-description{
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 150px;
    text-align: justify;
    margin: 70px 0px 0px 500px;
    font-size: 15px;
  }
  
  .proyect-description h3{
    color: #63B4B8;
  }
  
  .proyect-button{
    margin: 10px 0px 10px 400px;
    padding-bottom: 0px;
    height: auto;
  }

  .descriptioncontainer{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: -70px;
  }
  
  .contact{
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row-reverse;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #E1E5EA;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
  }
  
  .info h3{
    text-align: center;
    color: #664E88;
    font-size: 25px;
  }
  
  .info{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 150px;
    margin-bottom: 100px;
    padding-top: 3px;
    padding-left: 0px;
    padding-right: 20px;
    background-color: white;
    width: 500px;
    height: auto;
  }
  
  .box2{
    font-family: 'Roboto', sans-serif;
    background: #664E88;
    color: white;
    padding: 15px 30px 35px 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    font-size: 15px;
    text-decoration: none;
  }
  
  .info p{
    margin-bottom: 0px;
  }
  
  .topic{
    margin-bottom: 5px;
  }
  
  .message{
    width: 350px;
    margin: 60px 100px 40px 100px;
  }
  
  .form{
    width: 530px;
    margin: 120px 100px 0px 0px;
    padding: 100px 0px 0px 0px;
  }
  
  .copycontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }
  .copy{
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 55px;
    background-color: #63B4B8;
    padding: 5px 0px 5px 0px;
  }

  input{
    border: none;
    border-bottom: 1px solid black;
    margin-right: 0px;
    margin-bottom: 70px;
    width: 350px;
  }

  ::placeholder{
    font-size: 15px;
  }

  .menu{
    display: none;
  }
}